:root {
  --font-family: "Inter", sans-serif;
  --backgroundfont-color: hsl(210, 46%, 95%);
  --Yellow: hsl(47, 88%, 63%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

@font-face {
  font-family: figtree;
  src: url(blog-preview-card-main/assets/fonts/Figtree-VariableFont_wght.ttf);
  src: url(blog-preview-card-main/assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Yellow);
}

.blog-preview-card-main {
  background-color: var(--backgroundfont-color);
  width: 20rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-right: black solid 0.6rem;
  border-bottom: black solid 0.6rem;
  overflow: hidden;
}

img {
  width: 100%;
  padding: calc(1rem);
  border-radius: 2rem;
}

.text-content {
  padding: 0.5rem 1.5rem 2rem 1.5rem;
}

h2 {
  font-size: 1rem;
  background-color: var(--Yellow);
  font-weight: bolder;
  display: inline;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}

p.published-date {
  font-size: 0.8rem;
  color: var(--Gray-950);
  font-weight: 500;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--Gray-950);
}

.description {
  font-size: 0.8rem;
  color: var(--Gray-500);
  margin-bottom: 1rem;
  line-height: 1.4;
  text-align: left;
  font-family: figtree, sans-serif;
}

.avatar {
  display: flex;
  align-items: center;
}

.image-avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.author-name {
  font-size: 0.9rem;
  color: var(--Gray-950);
  font-weight: 600;
}
